.auto-style1 {
    width: 100%;
}

.auto-style2 {
    width: 205px;
}

.auto-style6 {
    width: 205px;
    height: 23px;
}

.auto-style8 {
    height: 23px;
}

.auto-style9 {
    width: 186px;
}

.auto-style10 {
    width: 186px;
    height: 23px;
}

.auto-style13 {
    width: 186px;
    height: 61px;
}

.auto-style14 {
    width: 205px;
    height: 61px;
}

.auto-style16 {
    height: 61px;
}

.auto-style17 {
    width: 240px;
}

.auto-style18 {
    width: 240px;
    height: 23px;
}

.auto-style19 {
    width: 240px;
    height: 61px;
}
